<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="%APPL_PHYSICAL_PATH%" />
        <add key="DJANGO_SETTINGS_MODULE" value="project.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="django handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python37\python.exe|C:\Python37\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>