{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Delete
{% endblock %}

{% block content %}
<a class="btn btn-primary btn-lg" href="/admin_dashboard/printermodel/">Edit printer models list</a>
<a class="btn btn-primary btn-lg" href="/admin_dashboard/toner/">Edit toner list</a>
<a class="btn btn-primary btn-lg" href="/admin_dashboard/places/">Edit places list</a>
<a class="btn btn-primary btn-lg" href="/admin_dashboard/printers/">Edit printers </a><br><br>
<h3>Delete {{params}} </h3>
<table class="table table-striped table-dark">
  <thead class="thead-light">
    <tr>
        {% for field in fields %}
      <th scope="col">{{field}}</th>
        {% endfor %}
        <th scope="col"></th>
    </tr>
      </thead>

<tbody>
    <tr>

        {% for value in params.get_string_fields %}
      <td>{{value}}</td>
         {% endfor %}

    </tr>


</tbody>
</table>
<br>
<div class="form-group">

    <strong>Are you sure?</strong><br>
    <form method="POST" action=""> {% csrf_token %}
    <button class="btn btn-danger">Delete</button>
        <a href = "/admin_dashboard/{{type}}" class="btn btn-success">No</a>
    </form>
</div>

{%endblock content %}